
@{
    ViewBag.Title = "TTKhach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/styles/bootstrap4/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/plugins/OwlCarousel2-2.2.1/owl.carousel.css" rel="stylesheet" />
<link href="~/Content/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" rel="stylesheet" />
<link href="~/Content/plugins/OwlCarousel2-2.2.1/animate.css" rel="stylesheet" />
<link href="~/Content/plugins/themify-icons/themify-icons.css" rel="stylesheet" />
<link href="~/Content/plugins/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/styles/contact_responsive.css" rel="stylesheet" />
<link href="~/Content/styles/contact_styles.css" rel="stylesheet" />

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetDHSearch(@ViewBag.idKhach);
        });
        function GetDHSearch(id) {
            $.ajax({
                url: 'https://localhost:44357/api/donhangapi/' + id,
                method: 'GET',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                },
                success: function (reponse) {
                    const len = reponse.length;
                    let table = '<tr>';
                    for (var i = 0; i < len; ++i) {
                        table = table +
                            '<th scope="row">' + (i + 1) + '</th>' +
                            '<td>' + reponse[i].MaDonHang + '</td>' +
                            '<td>' + reponse[i].NgayLapHD.split("T", 1) + '</td>' +
                            '<td>' + reponse[i].MaKH + '</td>' +
                            '<td><a href="#" class="ChiTiet" data-toggle="modal" data-target="#myModal"  onclick="GetCTDH(' + reponse[i].MaDonHang + ')">Xem chi tiết</a></td></tr>';
                    }
                    document.getElementById('donhang').innerHTML = table;
                },
                fail: function (response) {
                }
            });
        }
        $("input[name='searchDH']").change(function () {
            GetDHSearch($(this).val());
        });
    </script>

    <script type="text/javascript">
        function GetCTDH(id) {
            $.ajax({
                url: "https://localhost:44357/api/khachhangapi?idDH=" + id,
                method: 'GET',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                },
                success: function (reponse) {
                    const len = reponse.length;
                    let table = '<tr>';
                    let t = 0;
                    for (var i = 0; i < len; ++i) {
                        t += reponse[i].giaban * reponse[i].SL;
                        table = table +
                            '<td>' + (i + 1) + '</td>' +
                            '<td>' + reponse[i].TenSP + '</td>' +
                            '<td>' + reponse[i].giaban + '</td>' +
                            '<td>' + reponse[i].SL + '</td>' +
                            '<td>' + (reponse[i].SL * reponse[i].giaban) + '</td></tr>';
                    }

                    table = table +
                            '<tr class="active-row">' +
                            '<td></td>' +
                            '<td>Tổng tiền thanh toán</td>' +
                            '<td></td>' +
                            '<td></td>' +
                            '<td>' + t + ' đ</td>' +
                            '</tr>';

                    document.getElementById('ct_dh').innerHTML = table;
                },
                fail: function (response) {
                }
            });
        }
    </script>

}

<header class="header trans_300">

    <!-- Top Navigation -->

    <div class="top_nav">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="top_nav_left">free shipping on all u.s orders over $50</div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="top_nav_right">
                        <ul class="top_nav_menu">

                            <!-- Currency / Language / My Account -->

                            <li class="language">
                                <a href="#">
                                    English
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="language_selection">
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">Italian</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                            <li class="account">
                                <a href="#">
                                    My Account
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="account_selection">
                                    <li><a href="@Url.Action("DangNhap", "NguoiDung")"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                                    <li><a href="https://localhost:44357/Home/Log"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign out</a></li>
                                    <li><a href="@Url.Action("DangKy", "NguoiDung")"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Navigation -->

    <div class="main_nav_container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <div class="logo_container">
                        <a href="#">book<span>shop</span></a>
                        <p>@ViewBag.HT</p>
                    </div>
                    <nav class="navbar">
                        <ul class="navbar_menu">
                            <li><a href="@Url.Action("Index")">home</a></li>
                            <li><a href="@Url.Action("Contact")">contact</a></li>
                        </ul>
                        <ul class="navbar_user">
                            <li><a href="@Url.Action("Filter")"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            <li><a href="https://localhost:44357/Home/TTKhach?idKH=@ViewBag.IdKH"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                            <li class="checkout">
                                <a href="https://localhost:44357/Home/GioHang?idKH=@ViewBag.IdKH">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <span id="checkout_items" class="checkout_items">2</span>
                                </a>
                            </li>
                        </ul>
                        <div class="hamburger_container">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs align-items-center">
                <p style="text-align:center; font-size: 16px; margin-top: 20px; color: orangered">Thông tin khách hàng</p>
                <p style="text-align:center; font-size: 12px; color: mediumslateblue">@ViewBag.ThongBao</p>
            </div>

        </div>
    </div>
    <div class="container">
        <form action="">
            <div class="row">
                <div class="col-2">
                    <label for="fname" style="font-weight: 600;">Họ tên:</label>
                </div>
                <div class="col-10">
                    <label for="fname">@ViewBag.hoTen</label>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label for="fname" style="font-weight: 600;">Số điện thoại:</label>
                </div>
                <div class="col-10">
                    <label for="fname">@ViewBag.SDT</label>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label for="fname" style="font-weight: 600;">Địa chỉ:</label>
                </div>
                <div class="col-10">
                    <label for="fname">@ViewBag.DiaChi</label>
                </div>
            </div>
        </form>
    </div>

    <hr />
    <div>
        <p style="font-size: 16px; margin-top: 20px; color: orangered; text-align: center;">Lịch sử mua hàng</p>
    </div>

    <table class="table table-striped" style="margin-top: 30px">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã đơn hàng</th>
                <th>Ngày lập đơn</th>
                <th>Mã khách hàng</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody id="donhang">
        </tbody>
    </table>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="tittelModal">
                    <h5 style="text-align: center;">Thông tin đơn hàng</h5>
                </div>
                <div class="container">
                    <table class="table" style="background-color: white; margin-top: 50px; width: 100%;">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên sách</th>
                                <th>Giá bán</th>
                                <th>Số lượng</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody id="ct_dh">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/Content/js/jquery-3.2.1.min.js"></script>
<script src="~/Content/styles/bootstrap4/popper.js"></script>
<script src="~/Content/styles/bootstrap4/bootstrap.min.js"></script>
<script src="~/Content/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="~/Content/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="~/Content/plugins/easing/easing.js"></script>
<script src="~/Content/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="~/Content/js/contact_custom.js"></script>



